<template>
    <v-app id="inspire">
        <v-content :key="render_counter">
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>{{$t('auth.register.title')}}</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                            :error-messages="errors.name"
                                            v-model="form.name"
                                            :label="$t('auth.register.name')"
                                            name="login"
                                            prepend-icon="person"
                                            type="text"
                                    />
                                    <v-text-field
                                            :error-messages="errors.email"
                                            v-model="form.email"
                                            :label="$t('auth.register.email')"
                                            name="login"
                                            prepend-icon="email"
                                            type="text"
                                    />

                                    <v-text-field
                                            :error-messages="errors.password"
                                            v-model="form.password"
                                            id="password"
                                            :label="$t('auth.register.password')"
                                            name="password"
                                            prepend-icon="lock"
                                            type="password"
                                    />
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer />
                                <v-btn @click="submit" color="primary">{{$t('auth.register.submit')}}</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        layout:'auth',
        data(){
            return {
                errors:{},
                form: {},
                render_counter: 0,
            }
        },
        props: {
            source: String,
        },
        methods: {
            async submit() {
                this.render_counter++;
                try {
                    let url = this.$config.urls.api.auth.base + '/' + this.$config.urls.api.auth.admin.register
                    let res = await this.$http.post(url, this.form);
                    let token = res.data.token;
                    localStorage.setItem('token', token);
                    window.no_admin = false;
                    window.authenticated = true;
                    await this.$router.push({name: 'dashboard'})
                    this.render_counter++;
                } catch (err) {
                    if (err.response && err.response.data && err.response.data.errors) {
                        for (let error of err.response.data.errors) {
                            if (!this.errors[error.param]) {
                                this.errors[error.param] = []
                            }
                            this.errors[error.param].push(error.msg);
                        }
                    } else {
                        console.error(err);
                    }
                    this.render_counter++;
                }
            }
        }
    }
</script>

<style scoped>

</style>
