@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap');
@import "./variables";
@import "media";
body{
  font-family: 'Roboto', sans-serif !important;
  .v-application .primary--text{
    color: $blue!important;
    caret-color: $blue!important;
  }
  .theme--light.v-icon{ color: $black }
}
.font-montserrat{
  font-family: 'Montserrat', sans-serif !important;
}

.v-card{
  &.v-picker{
    margin-bottom: 0 !important;
  }
}

.h-auto{ height: auto !important; }

.text-overflow{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


header {
  padding: 10px 0;
  box-shadow: 2px 2px 4px rgba(0, 21, 41, 0.08) !important;
  .v-toolbar__content {
    height: 43px !important;
    border-left: 1px solid #ccc;
    .v-toolbar__title {
      color: #000;
      font-size: 15px;
      font-weight: 700;
      display: inline-block;
      padding-left: 30px;
    }
  }
}
.left-menu {
  top: 0 !important;
  // position: relative;
  // .nav-noti{
  //   position: absolute;
  //   .notiii{
  //     position: fixed;
  //     top: 0;
  //     right: -50px;
  //     width: 100px;
  //     height: 40px;
  //     background-color: red;
  //   }
  // }
  .v-app-bar__nav-icon {
    &:before {
      display: none;
    }
  }
  .menu-toggle {
    margin: 1px;
    padding: 7px 10px;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
    &:hover{
      background: #f2f2f2;
    }
    i {
      vertical-align: text-top;
    }
    .open-menu {
      background-position: 0 0;
    }
    .close-menu {
      background-position: 0px -12px;
    }
  }
}
.v-navigation-drawer__border {
  display: none;
  outline: none;
}
.v-menu__content {
  width: 216px;
  border-radius: 5px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  @include breakpoint('max-width: 850px'){
    min-width: calc(100% - 20px) !important;
    max-width: 100%;
    margin: 10px;
  }
  .v-card{
    margin-bottom: 0 !important;
  }
}
.general_menu,
.profile_menu {
  overflow: hidden;
  .v-list-item {
    padding: 8px 16px;
    padding-right: 0;
    @include breakpoint('max-width: 850px'){
      padding: 5px 10px;
    }
    &:hover{
      background-color: #f8f8f8 !important;
    }
    .v-list-item__content{
      padding: 0;
      .v-list-item__title {
        padding: 5px 12px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint('max-width: 850px'){
          padding: 3px 5px;
          font-size: 12px;
        }
        .gnr-mn-dsc{
          width: 330px;
          white-space: pre-line;
        }
        .notilst-btns{
          .v-btn{
            border-color: lightgrey;
            @include breakpoint('max-width: 850px'){
              height: 34px;
              padding: 0 12px;
            }
            &.act-btn{
              letter-spacing: 0px;
              padding: 0 8px;
              .v-btn__content{ font-size: 17px; }
            }
            span{
              font-size: 14px;
              line-height: 1.2;
              @include breakpoint('max-width: 850px'){
                font-size: 12px;
              }
            }
          }
          .v-icon{
            margin-left: 5px;
            font-size: 17px;
            cursor: pointer;
          }
        }
      }
    }
    .v-list-item__icon {
      margin: 0 !important;
      align-self: auto !important;
    }
  }
}
._person {
  display: flex;
  margin-right:10px;
  cursor: pointer;
  ._account {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin: 0 10px;
      font-size: 14px;
    }
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
}

.notification-dropdown{

}



// general buttons
.v-btn{
  &.same-width{
    min-width: 100px !important;
  }
  &.v-btn--outlined{
    .v-btn__content{
      font-size: 17px;
    }
    &.grey--text{
      border-color: #d7d7d7;
      .v-btn__content{
        color: #434343;
      }
    }
  }
  &.v-btn--depressed{
    &.blue{
      background-color: #608cff !important;
      font-size: 17px;
    }
  }
}

.v-messages__message{
  color: #ee0000;
}

.video-thumb-box{
  cursor: pointer;
}
.video-player{
  width: 100%;
}

// video player modal
.v-dialog.video-palyer-modal{
  & > .v-card{
    margin: 0 !important;
    .v-card__text{
      padding: 0;
      background-color: #000;
    }
  }
  .v-icon.v-icon.v-icon--link{
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    z-index: 10;
  }
}


.reg-step-main-box{
  .reg-step-main-box-title{
    h2{ line-height: .8; }
    span{ font-size: 20px; }
  }
}

.reg-call-us{
  line-height: 1.3;
}


._person {
  display: flex;
  margin-right:10px;
  cursor: pointer;
  ._account {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin: 0 10px;
      font-size: 14px;
    }
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
    .v-badge__wrapper{
      span{
        font-size: 11px;
        min-width: 17px;
        height: 17px;
        &:after{
          border-width: 1px;
        }
      }
    }
  }
}

.project-drp-box{
  width: 270px;
  height: 60px;
  margin: -4px 0 -6px;
  padding-top: 2px;
  border-bottom: 4px solid $gray3;
  .v-avatar{
    width: 50px !important;
    height: 50px !important;
    margin-top: -3px;
    margin-left: 16px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #e8e8e8;
  }
  .drop-text{
    .drptxt-title{
      width: 167px;
      font-size: 18px;
      font-weight: 500;
      margin-top: -6px;
      line-height: 1.6;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .drptxt-dsc{
      width: 167px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.top-menu{
  padding: 0;
  height: 60px !important;
  box-shadow: none !important;
  border-bottom: 1px solid #e8e8e8 !important;
  background: white !important;
  @include breakpoint('max-width: 850px'){
    &.top-menu-project-pg{
      height: 118px !important;
    }
  }
  .top-menu-item-box{
    // display: flex;
    // justify-content: space-between;
    .immam-logo{
      display: flex;
      margin: 3px 0 0 7px;
      float: left;
      align-items: center;
      @include breakpoint('max-width: 850px'){
        float: none;
      }
      .menu-toggle{
        margin: 1px 5px 1px 1px;
        padding: 7px 10px;
        font-size: 20px;
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s, padding 0s;
        &:hover{
          background: #f2f2f2;
        }
        i {
          vertical-align: text-top;
        }
      }
      img{
        height: 35px;
      }
    }
    .menu-top-box{
      width: 120px;
      padding: 4px 0 10px 0;
      float: right;
      @include breakpoint('max-width: 1250px'){
        width: 100px;
        margin: 2px 10px 0 0;
      }
      @include breakpoint('max-width: 850px'){
        padding: 6px 10px 0px 10px;
      }
      .tpm-person-icon{
        i{
          font-size: 43px !important;
          @include breakpoint('max-width: 1250px'){
            font-size: 37px !important;
          }
        }
      }
      .notification-dropdown{
        ._account{
          i{
            @include breakpoint('max-width: 1250px'){
              font-size: 31px !important;
            }
          }
        }
      }
    }
    .project-drp-box{
      margin-left: 48px;
      float: left;
      @include breakpoint('max-width: 1250px'){
        float: none;
        margin: -4px auto -6px;
      }
      @include breakpoint('max-width: 850px'){
        margin: 5px auto -11px;
      }
    }
    .project-pay-now-box{
      width: 550px;
      margin: 0 auto;
      transform: translateX(11%);
      @include breakpoint('max-width: 1250px'){
        width: 100%;
        margin-top: 5px;
        padding: 3px 0;
        background: #ebebeb;
        border-top: 1px solid $gray3;
        transform: none;
        .paydue-title{
          margin-top: 3px;
        }
      }
      @include breakpoint('max-width: 850px'){
        margin-top: 11px;
      }
    }
  }
  .v-toolbar__content{
    height: auto !important;
    padding: 4px 0;
  }
}

main.v-content{
  padding-right: 50px !important;
  @include breakpoint('max-width: 960px'){
    padding-right: 12px !important;
  }
  &.main-project-pg{
    @include breakpoint('max-width: 1250px'){
      padding-top: 60px !important;
    }
    @include breakpoint('max-width: 850px'){
      padding-top: 120px !important;
    }
  }
}

.board-drop{
  margin: 2px 0 !important;
}

.v-input{
  &.v-text-field{
    &.v-text-field--filled{
      .v-input__slot{
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
          transition: all .3s cubic-bezier(.25,.8,.5,1)
        }
        &:hover{
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px #e0e0e0 inset !important;
          }
        }
      }
      &.v-input--is-focused{
        .v-input__slot:hover{
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
          }
        }
      }
    }
  }
}

.w-100{ width: 100% }

.left-menu{
  border-right: 1px solid #e8e8e8;
  max-height: unset !important;
  z-index: 10 !important;
  .immam-logo{
    display: flex;
    align-items: center;
    margin: 13px 7px 0;
    @include breakpoint('max-width: 1250px'){
      margin-top: 6px;
    }
    img{
      height: 32px;
      width: 73px;
      object-fit: cover;
      object-position: left;
    }
  }
  &.v-navigation-drawer--is-mouseover{
    .immam-logo{
      img{
        width: 160px;
      }
    }
  }
  .left-menu-cont{
    & > div > .v-list-group__header,
    & > a{
      padding: 18px 16px;
    }
    & > div > .v-list-group__items{
      .v-list-item{
        padding: 10px 10px 10px 50px !important;
      }
    }
    .v-list-item{
      justify-content: left !important;
      .v-list-item__icon{
        margin: 10px 16px;
        i{
          font-size: 20px;
        }
      }
    }
  }
}

header .v-toolbar__content{
  border-left: none;
}

.analytics-projects-cont{
  height: 230px;
  overflow-y: auto;
  .analytics-projects-box{
    margin-bottom: 10px;
    .prj-name{
      max-width: 220px;
      align-items: center;
      display: flex;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .prj-callrail-slc{
      width: 130px;
      & > .v-input{
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media(max-width: 450px){
  .v-btn{
    &.same-width{
      min-width: 93px !important;
      padding: 0 17px !important;
    }
    &.v-btn--outlined{
      .v-btn__content{
        font-size: 15px;
      }
    }
    &.v-btn--depressed{
      &.blue{
        font-size: 15px;
      }
    }
  }

  .reg-step-main-box{
    .reg-welcome-title{
      margin: 10px 0 20px;
      h2{ font-size: 42px !important; }
      span{ font-size: 18px !important; }
    }
    .reg-step-main-box-title{
      h2{ font-size: 20px !important; }
      span{ font-size: 17px; }
    }
  }
}

.imaam_alert_error{
  border: none !important;
}


.gaccount-lst-box .v-input__control{
  width: 100% !important;
  .v-input__slot{
    justify-content: space-between;
  }
}

.graph-box{
  min-height: 430px;
  margin-bottom: 10px;
  @include breakpoint('max-width: 1250px'){
    margin-left: -46px;
    margin-right: 0px;
  }
  @include breakpoint('max-width: 850px'){
    margin-left: -76px;
    margin-right: -25px;
  }
}

.prjs-expand-btn{
  width: 150px;
  margin: 0 0 50px 69px;
  border-bottom: 2px solid $gray3;
  @include breakpoint('max-width: 1250px'){
    margin-left: 20px;
  }
  .v-btn{
    // background: #ebebeb;
    width: 100%;
    height: 40px !important;
    border: none;
    padding: 0 4px 0 6px !important;
    height: auto;
    .v-btn__content{
      font-size: 19px;
      text-transform: uppercase;
      letter-spacing: 0;
      & > span{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .v-icon{
        font-size: 20px;
        color: #9e9e9e;
      }
    }
  }
}

.dashboard-main-cont{
  min-height: calc(100vh - 110px);
  @include breakpoint('small'){
    .container{
      padding: 0;
    }
  }
}
.date-box{
  margin-top: 75px;
}
.project-date-picker-box{
  min-height: 110px;
  margin-bottom: 15px;
  @include breakpoint('max-width: 1263px'){
    width: 100%;
  }
  .project-date-picker{
    @include breakpoint('max-width: 1263px'){
      width: 100%;
      & > div{ width: 100% !important }
    }
    .v-card{
      margin-bottom: 3px !important;
      .v-input{
        margin: 0;
        padding: 0;
        .v-input__slot{
          // background: #ebebeb;
          // border: none !important;
          border-bottom: 2px solid $gray3;
          padding: 2px 4px;
          font-size: 14px;
          border-radius: 0;
          cursor: pointer;
          &:before{
            content: none !important;
          }
          input[type="text"]{
            padding: 3px;
            text-align: center;
            cursor: pointer;
          }
        }
        .v-text-field__details{
          display: none;
        }
      }
    }
  }
}

.value-index-cont{
  padding: 16px 80px 16px 45px;
  @include breakpoint('max-width: 1250px'){
    padding: 16px 0;
  }
  .value-index-box{
    &:first-child{
      .value-index-list{
        margin-top: 0;
      }
    }
    .theme--light.v-icon{
      color: $gray3;
    }
    .value-index-list{
      margin: 42px 0;
      padding: 4px 0;
      font-size: 28px;
      transition: background .15s ease-in;
      border-radius: 5px;
      cursor: pointer;
      @include breakpoint('small'){
        font-size: 26px;
      }
      &:hover{
        background: $gray4;
        .vil-source-tlt{
          // &:before{ left: -7px; }
          .drag-handle{
            opacity: 1;
          }
        }
      }
      &.vil-expanded{ margin-top: 50px }
      .vil-source-tlt{
        width: 100%;
        margin-right: 40px;
        // position: relative;
        // &:before{
        //   content: ' ';
        //   position: absolute;
        //   bottom: -4px;
        //   left: 15px;
        //   right: 0;
        //   height: 2px;
        //   background-color: $gray3;
        //   transition: all .1s ease-in;
        // }
        .drag-handle{
          display: inline-flex;
          vertical-align: -1px;
          opacity: 0;
          cursor: grab;
          transition: opacity .15s ease-in;
          @include breakpoint('max-width: 1250px'){
            opacity: 1;
          }
          i{
            width: 10px;
            margin-right: 12px;
            color: #a5a5a5;
          }
        }
        .vil-collapser{
          i{
            font-size: 20px;
            color: #9e9e9e;
          }
        }
      }
      .source-lst-chck{
        .v-input--selection-controls{
          margin-top: 0;
          padding-top: 0;
          .v-input--selection-controls__input{
            i{
              font-size: 30px;
              &.primary--text,
              &.accent--text{
                color: $blue !important;
              }
            }
          }
        }
      }
      .compare-value{
        font-size: 21px;
      }
    }
    .value-index-sublist-box{
      padding: 0 40px 0 50px;
      font-size: 24px;
      text-transform: capitalize;
      @include breakpoint('small'){
        font-size: 21px;
      }
      .value-index-sublist{
        margin: 35px 0;
        transition: background .1s ease-in;
        border-radius: 5px;
        &:hover{
          background: $gray4;
        }
        .v-input{
          margin: 2px 0 0;
          i{
            font-size: 30px;
            &.primary--text,
            &.accent--text{
              color: $blue !important;
            }
          }
        }
      }
    }
  }
}

.v-btn.v-btn--depressed.blue.compare-btn{
  padding: 2px 25px;
  background-color: $blue !important;
  letter-spacing: .3px;
}
.v-btn.v-btn--depressed.blue.blue-bg{
  background-color: $blue !important;
  letter-spacing: .3px;
}
.text-blue{
  color: $blue;
}
.v-btn.nohover:hover:before,
.v-btn.nohover:focus:before{
  display: none;
}

.select-device-box{
  padding-left: 37px;
  @include breakpoint('max-width: 1250px'){
    padding-left: 0;
  }
  .devices-list-cont{
    position: relative;
    padding-right: 20px;
    overflow: hidden;
    &.dvc-collapsed{
      width: 155px;
    }
    @include breakpoint('max-width: 900px'){
      display: inline-block;
      padding-right: 0;
      padding-bottom: 25px;
    }
    .device-collapser{
      position: absolute;
      top: 8px;
      right: 0;
      bottom: 8px;
      width: 15px;
      display: flex;
      justify-content: center;
      padding: 0 7px 0 8px;
      border-radius: 3px;
      background-color: #fff;
      cursor: pointer;
      transition: background .15s ease-in;
      &:hover{
        background-color: #ebebeb;
      }
      @include breakpoint('max-width: 900px'){
        top: auto;
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
    .devices-list-box{
      display: flex;
      justify-content: space-between;
      @include breakpoint('max-width: 900px'){
        flex-direction: column;
      }
      .dvc-item{
        .v-input--selection-controls{
          margin-top: 0;
          padding: 7px 17px 4px 5px;
          border-radius: 5px 5px 0 0;
          border-bottom: 2px solid white;
          transition: background .15s ease-in;
          &:hover{
            background-color: $gray4;
            border-bottom-color: $gray3;
          }
          &.v-input--is-label-active{
            &:hover{
              border-bottom-color: $blue;
            }
          }
        }
        .v-input--selection-controls__input{
          margin: 0 10px 0 7px;
          i{ font-size: 30px; }
        }
        .dvc-icon{
          display: inline-block;
          width: 24px;
          height: 22px;
          &.desktop{ background: url('/images/device_desktop.svg') center center/cover no-repeat; }
          &.mobile{ background: url('/images/device_mobile.svg') center center/cover no-repeat; }
          &.unknown{ background: url('/images/device_unknown.svg') center center/cover no-repeat; }
          &.all{ background: url('/images/device_all.svg') center center/cover no-repeat; }
        }
        .source-value{
          margin-top: 2px;
          font-size: 13px;
          color: $black;
          white-space: nowrap;
        }
        .source-value_compare{
          font-size: 12px;
          line-height: 1.1;
          white-space: nowrap;
        }
      }
    }
  }
}

//google chart error box
[id^="google-visualization-errors-all"]{
  text-align: center;
  & > div > span{
    background-color: #0091ff !important;
    padding: 4px 20px 5px !important;
    border-radius: 3px;
    & > span{ color: #e5f4ff !important }
  }
}

// .v-date-picker-table{
//   tbody{
//     td{

//     }
//   }
// }

.v-date-picker-header__value button{ font-size: 14px }


.video-player-dialog{
  @include breakpoint('max-width: 750px'){
    width: 100%;
    height: 300px;
  }
  @include breakpoint('max-width: 450px'){
    height: 250px;
  }
}

.v-text-field>.v-input__control>.v-input__slot:before{
  border-color: transparent !important;
}


.lead-noti{
  position: fixed !important;
  min-width: 260px;
  font-size: 19px !important;
  overflow: visible !important;
  transition: all .15s ease-in;
  z-index: 10;
  &:after{
    content: ' ';
    position: absolute;
    left: -7px !important;
    top: 50% !important;
    width: 15px;
    height: 15px;
    background-color: #ffd256;
    transform: translateY(-50%) rotate(45deg);
  }
  &:hover{
    &:after{
      background-color: #ffcc53;
    }
  }
  .v-chip__close{
    margin-left: 55px !important;
  }
}

.gnr-expand-btn{
  .v-btn{
    height: auto;
    padding: 9px 5px;
    background-color: $gray4;
    .v-btn__content{
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}

.payment-value-box{
  h3{
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  span{
    font-size: 18px;
    margin-left: 17px;
    color: $gray1;
  }
}
.payment-btn-box{
  width: 570px;
}
.auto-pay-lbl{
  label{
    font-size: 23px;
    font-weight: 500;
  }
}
.payment-cols{
  font-size: 17px;
  .billing-empty-row{
    background: #eaeaea;
    padding: 10px;
    margin-top: 10px;
  }
  .payment-tlt{
    font-size: 26px;
    font-weight: 400;
  }
  .pymnt-col{
    padding-right: 150px;
    @include breakpoint('small'){
      padding-right: 0;
    }
  }
  .pymnt-method-col{
    padding-left: 110px;
    @include breakpoint('large'){
      padding-left: 0;
      margin-top: 50px;
    }
    .add-pymnt-btn{
      font-size: 17px;
      letter-spacing: 0.3px;
    }
    .payment-method-box{
      margin: 10px 0 45px;
      &:last-child{
        margin-bottom: 0;
      }
      .pymnthd-info{
        h4{
          font-weight: 400;
        }
        span{
          color: #666666;
          margin-top: 22px;
          display: inline-block;
        }
      }
    }
  }
}

.reminding-dialog{
  position: absolute;
  top: 50px;
  right: 0;
  margin: 0 !important;
  padding: 10px;
}


.list-search-cont{
  width: 300px;
  padding: 0 10px 3px;
  border-bottom: 3px solid #d1d1d1;
  .v-input__slot{
    &:before,
    &:after{
      display: none !important;
    }
    .v-text-field__slot{
      .v-label{
        font-size: 17px;
        color: $gray2;
      }
    }
    .v-input__append-inner{
      .v-icon{
        color: $gray2;
      }
    }
  }
}

.top-project-action-cont{
  margin: 32px 16px 32px 68px;
  @include breakpoint('max-width: 450px'){
    margin: 20px 0 60px;
  }
}

.project-tbl-box{
  thead{
    th:last-child{
      width: 115px;
    }
  }
  tr{
    th:first-child{ padding-left: 90px !important; }
    &.total-row{
      font-size: 26px;
      td{
        position: relative;
        padding: 25px 10px !important;
        &:first-child:before{
          content: ' ';
          position: absolute;
          top: -1px;
          left: 0;
          width: 70px;
          height: 2px;
          background-color: white;
        }
        span{ font-size: 22px; }
      }
    }
    &.v-data-table__mobile-table-row{
      .val-box{ font-size: 20px; }
      &:not(.total-mobile-row){
        .v-data-table__mobile-row{
          padding-top: 30px !important;
          &:first-child{
            flex-direction: column;
            align-items: start;
            .v-data-table__mobile-row__cell{
              text-align: left;
              margin-top: 20px;
            }
          }
        }
      }
    }
    td{
      .theme--light.v-icon{
        color: #9e9e9e;
      }
      .prj-img{
        width: 50px;
        height: 50px;
        margin: 0 12px 0 16px;
        padding: 10px;
        border-radius: 4px;
      }
      .prj-name{
        font-size: 22px;
        line-height: 1.2;
      }
      .prj-url{
        font-size: 16px;
        max-width: 300px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .val-box{
        font-size: 22px;
        &.cost{
          .prj-base-val{ min-width: 100px; }
        }
        .prj-base-val{
          min-width: 40px;
          display: inline-block;
          margin-right: 15px;
          @include breakpoint('max-width: 450px'){
            margin-right: 0;
            & + span{
              margin-left: 15px;
            }
          }
        }
      }
      .icon-active-box{
        .v-input--selection-controls__input{
          input{
            pointer-events: none;
          }
          .primary--text,
          .accent--text{
            color: #0091ff !important;
            caret-color: #0091ff !important;
          }
        }
      }
    }
  }
  tbody{
    tr:not(.total-row){
      td{ cursor: pointer }
    }
  }
}

.prms-tlt{
  font-size: 20px;
  font-weight: 400;
}

.sub-child-row{
  margin: 10px 0;
  .v-input{
    margin: 0;
    padding: 0;
  }
}

.service-subpage-brdcrmb{
  .back-lnk{
    font-size: 14px;
  }
}