// // Body
$body-bg: #fff;

$black: #262626;
$gray1: #666666;
$gray2: #b3b3b3;
$gray3: #d1d1d1;
$gray4: #EBEBEB;

$blue: #0091ff;

$green: #66BB6A;
$lightGreen: #D1EBD2;
$lightGreenFont: #E5F3E6;

$red: #ef5350;


// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;
$default1: #F7B500;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;


