<template>
    <div>
        <div>
            <div class="d-flex mb-8">
                <div class="the-header">{{$t('dashboard.headline')}}</div>
                <v-spacer></v-spacer>
                <v-btn :loading="creating_new_post" rounded outlined
                       @click="creating_new_post = true ; onCreateNewPost()" class="primary--text my-auto">
                    {{$t('write_new_post')}}
                </v-btn>
            </div>
        </div>

        <v-card v-if="!has_fetch_data || loading" height="300" class="d-flex" flat>
            <div class="ma-auto">
                <v-progress-circular  class="my-auto mx-2" color="primary"  indeterminate rotate/>
                <span class="title">{{$t('loading')}}</span>
            </div>

        </v-card>
        <div v-if="has_fetch_data && !loading" class="">

            <v-card flat>
                <v-tabs
                        background-color="white"
                        color="primary accent-4"
                        v-model="currentTab"
                >
                    <v-tab key="drafts">{{$t('dashboard.drafts')}} {{list_drafts.length}}</v-tab>
                    <v-tab key="published">{{$t('dashboard.published')}} {{list_published.length}}</v-tab>
                </v-tabs>
                <template v-if="current_posts.length">
                    <div v-for="post in current_posts" class="my-8">
                        <div class="top-line post-title">
                            <span class="pointer" @click="onTitleClicked(post)">{{post.title || $t('no_title')}}</span>
                        </div>

                        <div class="top-bottom mt-2">
                            <div class="d-flex">
                                <span>{{currentTab == 0 ? $t('dashboard.last_change') : $t('dashboard.published_at')}} {{currentTab == 0 ? diffDate(post.updated_at  || post.created_at) : diffDate(post.published_at)}}</span>
                                <div>
                                    <v-menu top>
                                        <template v-slot:activator="{ on }">
                                            <div v-on="on">
                                                <v-icon class="" size="30">expand_more</v-icon>
                                            </div>
                                        </template>

                                        <v-list dense flat rounded>
                                            <v-list-item @click="onEdit(post)">
                                                <v-list-item-title>{{ $t('dashboard.edit') }}</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="onDelete(post)">
                                                <v-list-item-title>{{ $t('dashboard.delete') }}</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item v-if="post.published" @click="onCopyLink(post)">
                                                <v-list-item-title>{{ $t('dashboard.copy_link') }}</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <div v-else>
                    <div class="d-flex">
                    <span class="mx-auto mt-12 title">
                        {{$t('dashboard.no_post')}}
                    </span>
                    </div>
                </div>

            </v-card>
        </div>
    </div>
</template>

<script>
    export default {
        async mounted() {
            this.fetchPosts();
        },
        computed: {
            current_posts() {
                return this.currentTab == 1 ? this.paginated_posts : this.paginated_drafts
            },
            paginated_posts() {
                if (this.list_published.length) {
                    let page_size = 6;
                    let first_page = 4;
                    return this.list_published.slice(0, first_page + this.page_index * page_size)
                } else {
                    return [];
                }
            },
            paginated_drafts() {
                if (this.list_drafts.length) {
                    let page_size = 6;
                    let first_page = 4;
                    return this.list_drafts.slice(0, first_page + this.page_index * page_size)
                } else {
                    return [];
                }
            }
        },
        data: function () {
            return {
                headers: [
                    {
                        text: this.$t('title'), value: 'title', sortable: true,
                    }, {
                        text: '', value: 'edit', sortable: false,
                    }],
                posts: [],
                loading: false,
                page_index: 0,
                currentTab: 0,
                list_published: [],
                list_drafts: [],
                has_fetch_data: false,
                creating_new_post: false,
            }
        },
        methods: {
            async onEdit(post) {
                await this.$router.push({name: 'post.write', params: {id: post.id}})
            },
            async onDelete(post) {
                try {
                    let url = this.$config.urls.api.posts.base + '/' + this.$config.urls.api.posts.delete;
                    let res = await this.$http.post(url, {id: post.id});
                    await this.fetchPosts()
                } catch (e) {
                    console.error(e);
                }
            },
            onCopyLink(post) {
                //todo
            },
            async fetchPosts() {
                this.loading = true;
                this.has_fetch_data = false;
                this.list_drafts = [];
                this.list_published = [];
                try {
                    let url = this.$config.urls.api.posts.base + '/' + this.$config.urls.api.posts.all;
                    let res = await this.$http.get(url,);
                    if (res.data) {
                        let {drafts, published} = res.data;
                        this.list_drafts = drafts;
                        this.list_published = published;
                    }
                    this.has_fetch_data = true;
                } catch (e) {
                    console.error(e);
                } finally {
                    this.loading = false;
                }
            },
            async onTitleClicked(post) {
                if (this.currentTab == 0) {
                    await this.$router.push({name: 'post.write', params: {id: post.id}})
                }
            }
        }
    }
</script>

<style scoped>
    .the-header {
        font-family: Sahel;
        font-weight: bold;
        font-size: 3rem;
    }

    .post-title {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .pointer {
        cursor: pointer;
    }
</style>