<template>
    <div>
        <v-container>
            <v-card class="d-flex pa-3 primary--text secondary">
                <span class="ma-auto ">{{blog_title}}</span>
            </v-card>
            <v-card class="pa-2 ma-8" v-for="post in posts">
                <v-card-title>
                    <h1>{{post.title}}</h1>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <div v-html="post.draft_content"></div>
                </v-card-text>
            </v-card>
            <v-footer
                :fixed="fixed"
                app
            >
                <span>&copy; {{ new Date().getFullYear() }}{{blog_title}}</span>
            </v-footer>
        </v-container>

    </div>
</template>

<script>
    import Logo from '~/components/Logo.vue'
    import VuetifyLogo from '~/components/VuetifyLogo.vue'

    export default {
        asyncData(context) {
            let posts = context.db.Post.findPublics();
            const settings = context.db.Settings;
            let blog_title = settings.read().blog_title;
            return {posts, blog_title,}
        },
        components: {
            Logo,
            VuetifyLogo
        }
    }
</script>
