<template>
    <div :key="layout">
        <component :is="layout">
            <router-view :layout.sync="layout"/>
        </component>
    </div>
</template>

<script>
    import mainLayout from './layouts/main-layout.vue';
    import authLayout from './layouts/auth-layout.vue';

    export default {
        name: 'App',
        watch:{
            $route(to,from){
                if (window.no_admin && to.name != 'admin.register') {
                    return this.$router.push({name:'admin.register'});
                }
                if (!window.no_admin && !window.authenticated && to.name !== 'auth.login') {
                    return this.$router.push({name:'auth.login'});
                }
            }
        },
        beforeCreate() {
            if (!window.authenticated ) {
                this.$router.push({name:'auth.login'})
            }
        },
        created() {
            if (!window.authenticated ) {
                this.$router.push({name:'auth.login'})
            }
        },
        mounted() {
            if (!window.authenticated ) {
                this.$router.push({name:'auth.login'})
            }
        },

        components: {
            mainLayout,
            authLayout,
        },
        computed: {
            layout() {
                const matched = this.$route.matched;
                try {
                    if (matched && matched.length) {
                        if (matched[0].components.default.layout) {
                            return matched[0].components.default.layout + 'Layout';
                        }
                    }
                } catch (e) {
                    console.log(e);
                }
                return 'main' + 'Layout';
            }
        },
        data: () => ({
            //
        }),
    };
</script>
