<template>
    <div>
        <v-navigation-drawer
                :right="$isRtl"
                app
                fixed
                width="280"
                class="left-menu"
                v-model="toggleValue"
                mobile-break-point="1250"
                mini-variant-width="90"
                enable-resize-watcher
                :temporary="isNotDesktop() ? true : false"
                :expand-on-hover="isNotDesktop() ? false : true"
        >
            <div class="immam-logo">
            <span v-if="isNotDesktop()" class="menu-toggle" @click.stop="toggleSidebar">
                <v-icon>mdi-menu</v-icon>
            </span>
                <a href="/">
                    {{$blog_title || $t('logo')}}
                </a>
            </div>
            <div>
                <leftMenu :items="items" ref="left_menu" class="left-menu-cont"></leftMenu>
            </div>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import leftMenu from '../layouts/components/left-menu';

    export default {
        components: {leftMenu},
        props: {},
        computed: {
            hasShownHintLeads() {
                return localStorage.getItem('has_shown_hint_leads')
            },
            toggleValue: {
                get: function () {
                    return this.$store.state.navigation_drawer
                },
                set: function (arg) {
                    this.$store.dispatch('setDrawer', arg);
                }
            },

            items() {
                return [
                    {
                        icon: "dashboard",
                        text: this.$t("_dashboard"),
                        path: this.$router.resolve({name: "dashboard"}).href,
                        name: 'dashboard',
                    },
                    {
                        icon: "settings",
                        text: this.$t('_settings'),
                        path: this.$router.resolve({name: "settings"}).href,
                        name: 'settings',
                    }
                ]

            }
        },
        methods: {
            isNotDesktop() {
                return this.$mq !== "desktop"
            },
            toggleSidebar() {
                let toggleValue = !this.$store.state.navigation_drawer;
                this.$store.dispatch('setDrawer', toggleValue);
            },
        },
        mounted() {

        },
        watch: {
            drawer(n, old) {
                console.log(n)
                alert(n, old)
                this.$store.dispatch('setDrawer', n);
                this.$store.dispatch('setDrawer')
            }
        },
        beforeDestroy() {

        },
        data() {
            return {
                notiTop: 0,
                notiLeft: 0,
                chip1: false,
                mini: this.$store.state.navigation_drawer,
                drawer: null,
            }
        }
    }
</script>


<style lang="scss" scoped>
    @import "../sass/main_layout";

    .profile_menu a,
    .v-navigation-drawer a {
        text-decoration: none;
    }
</style>
