<template>
    <div class="home d-flex" style="height: 100vh">
        <div class="ma-auto">
            <h2> Page Not Found</h2>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>

</style>