<template>
    <div class="home d-flex" style="height: 100vh">
        <div class="ma-auto">
            <h2> About Page</h2>
        </div>
    </div>
</template>

<script>
    export default {
        layout: 'main',
    }
</script>