<template>
    <div class="home d-flex" style="height: 100vh">
            <div class="ma-auto">
                <h2> Super admin Home</h2>
            </div>
    </div>
</template>

<script>
    // @ is an alias to /src

    export default {
        layout:'main',
        name: 'Home',
        components: {}
    }
</script>
