<template>
    <v-card class="px-4 pt-2" :class="{left_border: !root && !$isRtl,right_border: !root && $isRtl}" elevation="0">
        <template v-for="(type_val,type_key) in type">
            <template v-if="type_key !== 'type' && type_key !== 'label'">
                <template v-if="type_val.type == 'object'">
                    <span class="">{{$t('settings.'+type_key)}}</span>
                    <settings-block :type="type_val" :value="value[type_key]"/>
                </template>

                <template v-if="type_val.type !== 'object'">
                    <template v-if="type_val.type == 'string'">
                        <v-card class="mb-4" elevation="0" flat width="400">
                            <v-text-field :label="$t(type_val.label ? 'settings.'+type_val.label: 'settings.'+type_key)"
                                          v-model="value[type_key]" :hint="$t('settings.'+type_val.hint)"></v-text-field>
                        </v-card>
                    </template>

                    <template v-if="type_val.type == 'color'">
                        <v-card class="ma-2 pa-2">
                            <span class="font-weight-bold">{{$t(type_val.label ? 'settings.'+type_val.label: 'settings.'+type_key)}}</span>
                            <v-color-picker flat v-model="value[type_key]" width="100%" hide-canvas></v-color-picker>
                        </v-card>

                    </template>

                    <template v-if="type_val.type == 'boolean'">
                        <v-checkbox :label="$t(type_val.label ? 'settings.'+type_val.label: 'settings.'+type_key)"
                                    v-model="value[type_key]"></v-checkbox>
                    </template>

                    <template v-if="type_val.type == 'number'">
                        <v-text-field :label="$t(type_val.label ? 'settings.'+type_val.label: 'settings.'+type_key)"
                                      type="number"
                                      v-model="value[type_key]"></v-text-field>
                    </template>

                    <template v-if="type_val.type == 'enum'">
                        <v-card elevation="0" flat width="400">
                            <v-select
                                    :label="$t(type_val.label ? 'settings.'+type_val.label: 'settings.'+type_key)"
                                    v-model="value[type_key]"
                                    :items="translateOptions(type_val.options)"
                                    item-text="label"
                                    item-value="value"
                            ></v-select>
                        </v-card>
                    </template>
                </template>
            </template>
        </template>

    </v-card>
</template>

<script>

    export default {
        components: {
            SettingsBlock: () => import('./settings-block.vue')
        },
        name: 'settings-block',
        props: {
            root: {
                type: Boolean,
                default: false,
            },
            type: {
                required: true,
            },
            value: {
                required: true,
            }
        },
        methods: {
            translateOptions(arg) {
                let result = [];
                for (let i in arg) {
                    let it = arg[i];
                    result.push({label: this.$t('settings.' + it.label), value: it.value})
                }
                return result;
            }
        }
    }
</script>

<style scoped>
    .left_border {
        border-left: 2px solid rgba(0, 0, 0, 0.16);
    }

    .right_border {
        border-right: 2px solid rgba(0, 0, 0, 0.16);
    }
</style>