<template>
    <div>
        <v-card v-if="!has_fetch_data|| loading" height="300" class="d-flex" flat>
            <div class="ma-auto">
                <v-progress-circular  class="my-auto mx-2" color="primary"  indeterminate rotate/>
                <span class="title">{{$t('loading')}}</span>
            </div>
        </v-card>
        <div v-if="has_fetch_data && !loading" class="d-flex">
            <v-card elevation="0" min-width="81%" class="mx-auto pt-8">
                <v-card-actions class="mb-8">
                    <v-spacer></v-spacer>
                    <v-btn
                            @click="reset_settings"
                            color="error"
                    >
                        {{$t('reset')}}
                    </v-btn>
                    <v-btn
                            @click="submit_settings"
                            color="primary">
                        {{$t('submit')}}
                    </v-btn>
                </v-card-actions>
                <div v-if="settings">
                    <SettingsBlock root :type="types" :value="settings"/>
                </div>

                <v-card-actions class="my-12">
                    <v-spacer></v-spacer>
                    <v-btn
                            @click="reset_settings"
                            color="error"
                    >
                        {{$t('reset')}}
                    </v-btn>
                    <v-btn
                            @click="submit_settings"
                            color="primary">
                        {{$t('submit')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </div>
    </div>
</template>

<script>
    import fetchSettings from "../../plugins/settings";
    import SettingsBlock from './settings-block.vue';

    export default {
        layout: 'main',
        components: {SettingsBlock},
        data() {
            return {
                types: {},
                settings: null,
                has_fetch_data: false,
                loading: null,
            }
        },
        async mounted() {
            let it = await import('../../../../../src/settings-types.js');
            this.types = it.default ? it.default : it;
            this.settings = await fetchSettings(this.$config, this.$http);
            this.has_fetch_data = true;
        },
        computed: {},
        methods: {
            async submit_settings() {
                this.loading = true;
                let url = this.$config.urls.api.settings.base + '/' + this.$config.urls.api.settings.update
                let res = await this.$http.post(url, this.settings);
                location.reload();
            },
            async reset_settings() {
                this.loading = true;
                let url = this.$config.urls.api.settings.base + '/' + this.$config.urls.api.settings.reset
                let res = await this.$http.post(url);
                location.reload();
            }
        }
    };
</script>

<style scoped>

</style>