<template>
    <v-app class="main">
        <router-view/>
    </v-app>
</template>

<script>
    export default {}
</script>

<style scoped>
    .theme--light.v-application {
        background-image: linear-gradient(270deg, #0096d0, #14ffed);
    }
</style>