<template>
    <v-app class="white">
        <v-container fluid>
            <v-card
                    color=" lighten-4"
                    flat
                    tile
            >

                <v-toolbar dense>
                    <v-app-bar-nav-icon @click="toggleSidebar"></v-app-bar-nav-icon>

                    <v-toolbar-title>{{$route ? $t('pages.'+$route.name) : ''}}</v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-hover v-model="user_hover">
                        <div class="d-flex">
                            <v-chip @click="logout" v-if="user_hover" class="mx-3 red" dark>
                                <span>{{$t('logout')}}</span>
                                <v-icon right>exit_to_app</v-icon>
                            </v-chip>
                            <v-chip>
                                <span>{{user ? user.name : ''}}</span>
                                <v-icon right>person</v-icon>
                            </v-chip>
                            <v-chip class="mx-2" href="/" target="_blank">
                                    <span>{{$t('visit_website')}}</span>
                                    <v-icon right>web</v-icon>
                            </v-chip>
                        </div>
                    </v-hover>
                </v-toolbar>
                <navigation-drawer></navigation-drawer>
                <v-container >
                    <router-view></router-view>
                </v-container>
            </v-card>
        </v-container>
    </v-app>
</template>

<script>
    import NavigationDrawer from '../components/navigation-drawer.vue'
    export default {
        components:{
            NavigationDrawer,
        },
        computed: {
            user() {
                try {
                    return JSON.parse(localStorage.getItem('user'));
                } catch (e) {
                    console.log(e);
                    return {};
                }
            }
        },
        data: function () {
            return {user_hover: null}
        },
        methods: {
            logout() {
                localStorage.clear();
                window.authenticated = false;
                this.$router.push({name: 'login'})
            },
            toggleSidebar () {
                let toggleValue = !this.$store.state.navigation_drawer;
                this.$store.dispatch('setDrawer', toggleValue);
            },
        }
    }
</script>

<style scoped>

</style>