<template>
    <v-list dense>
        <template v-for="item in items">
            <v-list-item @click="gotoItem(item)" :key="item.text">
                <v-list-item-icon>
                    <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{item.text}}</v-list-item-title>
            </v-list-item>
        </template>
    </v-list>
</template>
<style lang="scss" scoped>
    .l-menu-content {
        padding-top: 100px;

        .v-list-item__title {
            font-weight: normal !important;
        }

        ::v-deep .v-icon.mdi-chevron-down {
            font-size: 20px;
        }
    }
</style>
<script>
    export default {
        props: ['items'],
        data() {
            return {};
        },
        methods: {
            async gotoItem(item) {
                try {
                    await this.$router.push({name: item.name})
                } catch (e) {
                    //     console.error(e);
                }
            }
        }
    };
</script>
