<template>
    <div>
        <div v-if="!current_post" class="d-flex">
            <div class="mx-auto my-12">
                <v-progress-circular  class="my-auto mx-2" color="primary"  indeterminate rotate/>
                <span>{{$t('loading')}}</span>
            </div>

        </div>

        <div v-if="current_post" class="">
            <div class="top-row">
                <v-row>
                    <v-col cols="4">
                        <v-text-field @change="updateTitle($event)" height="80" loader-height="80" class="title-input"
                                      flat solo :value="current_post.title" :label="$t('title')"/>
                    </v-col>
                    <v-col cols="6"/>
                    <v-col>
                        <v-btn :loading="is_updating || is_publishing" outlined rounded @click="onPublishPost" class="primary--text"
                               width="100%">{{$t('publish')}}
                        </v-btn>
                    </v-col>
                </v-row>
            </div>
            <div class="white" style="height: 100vh" :dir="$isRtl ? 'rtl' : 'ltr'">
                <MediumEditor :text='current_post.draft_content || null' :options='options' v-on:edit='update_content'>
                </MediumEditor>
            </div>
        </div>
    </div>
</template>

<script>
    import MediumEditor from 'vue2-medium-editor'
    import _ from 'lodash';

    export default {
        async mounted() {
            let url = this.$config.urls.api.posts.base + '/' + this.$config.urls.api.posts.one;
            let res = await this.$http.post(url, {id: this.postID});
            if (res.data) {
                this.current_post = res.data;
            }
        },

        components: {
            MediumEditor,
        },
        methods: {
            debounced_update_content() {
                let self = this;
                if (!this.debound_update) {
                    this.debound_update = _.throttle(async () => {
                        try {
                            self.is_updating = true;
                            let url = self.$config.urls.api.posts.base + '/' + self.$config.urls.api.posts.update;
                            let res = await self.$http.post(url, {
                                id: self.postID,
                                draft_content: self.form.draft_content
                            });
                        } catch (e) {
                            console.log(e);
                        } finally {
                            self.is_updating = false
                        }
                    }, 5000);
                }
                this.debound_update();
            },
            async update_content(operation) {
                this.form.draft_content = operation.api.origElements.innerHTML;
                this.debounced_update_content();
            },
            async onPublishPost() {
                try {
                    this.is_publishing = true;
                    let url = this.$config.urls.api.posts.base + '/' + this.$config.urls.api.posts.publish;
                    let res = await this.$http.post(url, {id: this.postID});
                    await this.$router.push({name: 'dashboard'})
                } catch (e) {
                    console.error(e);
                }finally {
                    this.is_publishing = false;
                }
            },
            async updateTitle(arg) {
                try {
                    this.is_updating = true;
                    let url = this.$config.urls.api.posts.base + '/' + this.$config.urls.api.posts.update;
                    let res = await this.$http.post(url, {id: this.postID, title: arg});

                } catch (e) {
                    console.log(e);
                } finally {
                    this.is_updating = false
                }
            }
        }
        ,
        computed: {
            postID() {
                return this.$route.params.id;
            }
        }
        ,
        data: function () {
            return {
                current_post: null,
                form: {},
                options: {
                    placeholder: {
                        /* This example includes the default options for placeholder,
                           if nothing is passed this is what it used */
                        text: this.$t('editor.placeholder.text'),
                        hideOnClick: true
                    },
                    buttonLabels: true,
                    toolbar: {
                        allowMultiParagraphSelection: true,
                        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull',],
                        diffLeft: 0,
                        diffTop: -10,
                        firstButtonClass: 'medium-editor-button-first',
                        lastButtonClass: 'medium-editor-button-last',
                        relativeContainer: null,
                        standardizeSelectionStart: false,
                        static: false,
                        /* options which only apply when static is true */
                        align: 'center',
                        sticky: false,
                        updateOnEmptySelection: false,
                    }
                },
                postText: '',
                is_updating: false,
                debound_update: null,
                is_publishing: false,
            }

        }
    }
</script>

<style scoped lang="scss">
    .v-input__control {
        min-height: 100px !important;
    }

    .title-input {
        font-size: 1.5rem;
    }
</style>