<template>
    <v-app id="inspire">
        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>{{$t('auth.login.title')}}</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                            v-model="form.email"
                                            :error-messages="errors.email"
                                            :label="$t('auth.login.email')"
                                            name="login"
                                            prepend-icon="person"
                                            type="text"
                                    />

                                    <v-text-field
                                            :error-messages="errors.password"
                                            v-model="form.password"
                                            id="password"
                                            :label="$t('auth.login.password')"
                                            name="password"
                                            prepend-icon="mdi-lock"
                                            type="password"
                                    />
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer/>
                                <v-btn :disabled="!form.email || !form.password" @click="submit" color="primary">
                                    {{$t('auth.login.submit')}}
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        layout: 'auth',
        data() {
            return {
                form: {},
                errors: {},
            }
        },
        props: {
            source: String,
        },
        methods: {
            async submit() {
                this.errors = {};
                try {
                    let url = this.$config.urls.api.auth.base + '/' + this.$config.urls.api.auth.admin.login
                    let res = await this.$http.post(url, this.form);
                    let token = res.data.token;
                    if (res.data.user) {
                        localStorage.setItem('user', JSON.stringify(res.data.user));
                    }
                    localStorage.setItem('token', token);
                    window.authenticated = true;
                    await this.$router.push({name: 'dashboard'})
                } catch (err) {
                    if (err.response && err.response.data && err.response.data.errors) {
                        for (let error of err.response.data.errors) {
                            if (!this.errors[error.param]) {
                                this.errors[error.param] = []
                            }
                            this.errors[error.param].push(error.msg);
                        }
                    } else {
                        console.error(err);
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
