/*
@font-face {
    font-family: Sahel;
    src: url('public/fonts/sahel-font/Sahel.eot');
    src: url('public/fonts/sahel-font/Sahel.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/sahel-font/Sahel.woff2') format('woff2'),
    url('public/fonts/sahel-font/Sahel.woff') format('woff'),
    url('public/fonts/sahel-font/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('public/fonts/sahel-font/Sahel-Bold.eot');
    src: url('public/fonts/sahel-font/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/sahel-font/Sahel-Bold.woff2') format('woff2'),
    url('public/fonts/sahel-font/Sahel-Bold.woff') format('woff'),
    url('public/fonts/sahel-font/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('public/fonts/sahel-font/Sahel-Light.eot');
    src: url('public/fonts/sahel-font/Sahel-Light.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/sahel-font/Sahel-Light.woff2') format('woff2'),
    url('public/fonts/sahel-font/Sahel-Light.woff') format('woff'),
    url('public/fonts/sahel-font/Sahel-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Sahel;
    src: url('public/fonts/sahel-font/Sahel-SemiBold.eot');
    src: url('public/fonts/sahel-font/Sahel-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/sahel-font/Sahel-SemiBold.woff2') format('woff2'),
    url('public/fonts/sahel-font/Sahel-SemiBold.woff') format('woff'),
    url('public/fonts/sahel-font/Sahel-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: Sahel;
    src: url('public/fonts/sahel-font/Sahel-Black.eot');
    src: url('public/fonts/sahel-font/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/sahel-font/Sahel-Black.woff2') format('woff2'),
    url('public/fonts/sahel-font/Sahel-Black.woff') format('woff'),
    url('public/fonts/sahel-font/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}


div .v-input__slot, div .v-list-item, span, label,.v-toolbar__title {
    font-family: Sahel !important;
}

.v-tab {
    font-family: Sahel;
    font-weight: bold;
}

*/
